.friendPageMainDiv {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 30px
}


.cardDiv {
    width: 100%;
    height: 114px;
    margin-bottom: 15px ;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.cardUpperDiv {
    margin-bottom: 10px;
    height: 18px;
}

.cardLowerDiv{
    height:14px;
}
/* styles.module.css */
.lowerLoader {
    height: 14px;
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, #EAEAEA , white, #EAEAEA, white);
    background-size: 400% 400%;
    border-radius: 10px;
    animation: getanimation 4s linear infinite;
}

.upperLoader {
    height: 18px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #EAEAEA , white, #EAEAEA, white);
    background-size: 400% 400%;
    border-radius: 10px;
    animation: getanimation 6s linear infinite;
  }


  @keyframes getanimation{
	0% {
		background-position: 400% 50%;
	}
	50% {
		background-position: 200% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
 

.friendHeader { 
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
    color: #D7D7D7;
    position: relative;
}

.friendDivider {
    margin-right: 15px;
    margin-left: 15px;
    border-left: 1px solid  ;
    height: 28px;
}

.friendHeaderIcon {
    border: 1px solid #ABABAB;
    padding: 7.5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.friendClear {
    font-weight: 500;
}

.dropdownMenuButton {
    background: none;
    cursor: pointer;
    outline: none;   
    border: 1px solid #ABABAB;
    padding: 7.5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    
}

.activeDropDownMenuButton {
    background-color: #424242;
    color: white;
}



.cancelButton {
    background: none;
    cursor: pointer;
    outline: none;   
    border: none;
    display: flex;
    padding: 0;
    align-items: center;
    padding-left: 40px;
     
}

