
.clearButton {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    color: #3399FF;
}


.clearButton:disabled {
    color: #D7D7D7;
    cursor: default;
}

.iconButtonContent {
    padding-right: 10px;
}